@model PostViewModel
@{ }

<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-1"><img src="@Model.Propic" class="img-thumbnail" /></div>
            <div class="col-10"><a asp-controller="Profile" asp-action="@Model.User">@Model.User</a></div>
            <div class="col-1"><a asp-controller="Profile" asp-action="DeletePost" asp-route-id="@Model.PublishDate">X</a></div>
        </div>          
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>@Model.Post</p>
            <footer class="blockquote-footer"><cite title="User">@Model.PublishDate</cite></footer>
        </blockquote>
    </div>
</div>
